ul {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  max-width: 100%;
}

body {
  background: var(--viridian);
  color: var(--raisin-black);
}
.app-wrap {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (min-width: 400px) {
  .app-wrap {
    width: 400px;
  }
}
@media screen and (min-width: 600px) {
  .app-wrap {
    width: 600px;
  }
}
@media screen and (min-width: 900px) {
  .app-wrap {
    width: 900px;
  }
}
@media screen and (min-width: 1200px) {
  .app-wrap {
    width: 1200px;
  }
}

/***
---
Wurl Structure
---
.wurl {} // slider
.wurl__carousel {} // slider track
  .wurl__slide {} // slides
    .wurl__slide > a {}
    .wurl__slide > a > img {}
***/
.wurl {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.wurl__track {
  transform-style: preserve-3d;
  transition: transform ease-out .6s;
  display: flex;
  flex-direction: column;
}
.wurl__slide {
  flex: 1 1 auto;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 400px) {
  /** workarounds for lack of window resize listener **/
  .wurl__track {
    width: 100% !important;
  }
  .wurl__nav, .wurl__pag {
    display: none;
  }
}
@media screen and (min-width: 400px) {
  .wurl {
    overflow: hidden;
  }
  .wurl__track {
    flex-direction: row;
    overflow-x: auto;
  }
  .wurl__slide {
    flex: 1 0 auto;
    /* width: 100%; */
    z-index: 100;
    transition: transform .3s, opacity .6s, z-index .6s;
  }
  .wurl__slide:nth-child(1) {
    opacity: 1;
    position: relative;
    z-index: 900;
  }
  .wurl__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
  }
  .wurl__nav.prev {
    left: 2rem;
  }
  .wurl__nav.next {
    right: 2rem;
  }
  .wurl__nav > button {
    width: 3rem;
    height: 3rem;
    background-color: var(--baby-powder);
    border: none;
    border-radius: 2rem;
    cursor: pointer;
  }
  .wurl__nav > button:hover {
    background-color: var(--raisin-black);
    color: var(--baby-powder);
  }
  .wurl__nav > button > span {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .wurl__pag {
    position: absolute;
    bottom: 2rem;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .wurl__pag > button {
    cursor: pointer;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin: .25rem;
    border: 2px solid var(--raisin-black);
    border-radius: .75rem;
    background-color: var(--baby-powder);
  }
  .wurl__pag > button.active {
    background-color: var(--marigold);
  }
}

@media screen and (min-width: 400px) {
  .wurl__slide {
    width: 400px;
  }
}
@media screen and (min-width: 600px) {
  .wurl__slide {
    width: 600px;
  }
}
@media screen and (min-width: 900px) {
  .wurl__slide {
    width: 900px;
  }
}
@media screen and (min-width: 1200px) {
  .wurl__slide{
    width: 1200px;
  }
}

